In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('clean_jobs_data.csv')
df.head(2)

,company_name,job_title,location,state,est_salary,min_salary,max_salary,python,spark,excel,aws,rating,sector,industry,job_age,job_description
0,Talentheed Inc,Junior Data Scientist,Remote,Remote,57000-119000,57000.0,119000.0,0,0,0,0,-1.0,Not given,Not given,16.0,Responsibilities:\nIdentify valuable data sour...
1,sourcemantra,Data Scientist,"Redmond, WA",WA,63000-123000,63000.0,123000.0,0,0,0,0,3.7,Financial Services,Accounting & Tax,25.0,"Hi,\nHope you are doing good!!!\nRole: Data Sc..."

In [3]:
df.columns

Index(['company_name', 'job_title', 'location', 'state', 'est_salary',
       'min_salary', 'max_salary', 'python', 'spark', 'excel', 'aws', 'rating',
       'sector', 'industry', 'job_age', 'job_description'],
      dtype='object')

In [5]:
def simplify_job_title(job_title):
    if 'data science' in job_title.lower() or 'data scientist' in job_title.lower():
        return 'data science'
    elif 'machine learning' in job_title.lower():
        return 'ml'
    elif 'analyst' in job_title.lower():
        return 'analyst'
    elif 'data engineer' in job_title.lower():
        return 'data engineer'
    elif 'manager' in job_title.lower():
        return 'manager'
    elif 'director' in job_title.lower():
        return 'director'
    else:
        return 'na'

def seniority(job_title):
    for sen_sen in ['senior', 'sr', 'sr.']:
        if sen_sen in job_title.lower():
            return 'senior'
    for sen_jr in ['junior', 'jr', 'jr.']:
        if sen_jr in job_title.lower():
            return 'junior'
    return 'na'

In [6]:
df['simp_job_title'] = df.job_title.apply(lambda x: simplify_job_title(x))
df['seniority'] = df.job_title.apply(lambda x: seniority(x))
df['job_description'] = df.job_description.apply(lambda x: x.lower())
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [7]:
df.seniority.value_counts()

na        802
senior    155
junior     43
Name: seniority, dtype: int64

In [9]:
df.simp_job_title.value_counts()

data science     966
na                17
ml                16
data engineer      1
Name: simp_job_title, dtype: int64

In [10]:
df.describe()

,min_salary,max_salary,python,spark,excel,aws,rating,job_age,avg_salary
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,998.000000,1000.000000
mean,92447.200000,149357.600000,0.1020,0.001000,0.002000,0.032000,3.555100,9.581162,120902.400000
std,32939.230791,44444.731706,0.3028,0.031623,0.044699,0.176088,1.368103,9.769301,35337.583095
min,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,-1.000000,1.000000,0.000000
25%,70000.000000,127000.000000,0.0000,0.000000,0.000000,0.000000,3.500000,3.000000,103000.000000
50%,92000.000000,140000.000000,0.0000,0.000000,0.000000,0.000000,3.900000,4.000000,117000.000000
75%,115000.000000,167000.000000,0.0000,0.000000,0.000000,0.000000,4.200000,16.000000,141500.000000
max,191000.000000,276000.000000,1.0000,1.000000,1.000000,1.000000,5.000000,30.000000,233500.000000