In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('clean_jobs_data.csv')
df.head(2)

,company_name,job_title,location,state,est_salary,min_salary,max_salary,python,spark,excel,aws,rating,sector,industry,job_age,job_description
0,Talentheed Inc,Junior Data Scientist,Remote,Remote,57000-119000,57000.0,119000.0,0,0,0,0,-1.0,Not given,Not given,16.0,Responsibilities:\nIdentify valuable data sour...
1,sourcemantra,Data Scientist,"Redmond, WA",WA,63000-123000,63000.0,123000.0,0,0,0,0,3.7,Financial Services,Accounting & Tax,25.0,"Hi,\nHope you are doing good!!!\nRole: Data Sc..."

In [31]:
df.columns

Index(['company_name', 'job_title', 'location', 'state', 'est_salary',
       'min_salary', 'max_salary', 'python', 'spark', 'excel', 'aws', 'rating',
       'sector', 'industry', 'job_age', 'job_description'],
      dtype='object')

In [33]:
df.job_title.unique()

array(['Data Scientist', 'Graduate Data Scientist - Role Can be Remote',
       'CO-OP, DATA SCIENCE', 'Data Scientist - Remote',
       'Junior Data Scientist', 'Senior Data Scientist',
       'Data Scientist, Junior', 'Data Scientist - Professional Services',
       'Data Scientist - 100% Remote',
       'Data Scientist (Python & SQL) -- Remote Work',
       'Sr. Data Scientist', 'Data Scientist, NLP',
       'Data Scientist, Analytics', 'Data Scientist 2',
       'Jr. Data Scientist (Remote Eligible)',
       'Data Scientist (Upstream)',
       'Data Scientist - OPEN TO 100% REMOTE WORK (US ONLY)',
       'Data Scientist (Python/SQL)', 'Data Analyst/Statistician',
       'Junior Quant Researcher - NLP Team',
       'Data Scientist, Shopping Monetization',
       'Data Scientist - (Remote)', 'Data Scientist II, Analytics',
       'Jr Data Scientist - Remote', 'Jr. Data Scientist',
       'Credit Strategy Analyst - Data Scientist',
       'Data Scientist (SPARK)',
       'Senior Data Scientist - Gaming Platform AI',
       'Data Scientist, Content Analytics, Podcasts & Studios',
       'Staff / Sr. Data Scientist, Personalization / Machine Learning',
       'Data Scientist II, Revenue',
       'Machine Learning Engineer, Personalization',
       'Associate Scientist, Data Support',
       'Jr. Data Scientist, Revenue Operations',
       'AI Scientist / Sr. AI Scientist, (Artificial Intelligence/Machine Learning)',
       'Jr. Software Engineer, Gameplay AI', 'Data Scientist- Remote',
       'Data Scientist - Analytics', 'Machine Learning Engineer',
       'Principal Real World Data Scientist',
       'Data Scientist - Experimentation Platform',
       'Machine Learning Compiler', 'Data Scientist, Tiktok Experience',
       'Data Scientist, Product Analytics', 'Associate Data Scientist',
       'Machine learning scientist',
       'Data Scientist - Construction & Infrastructure, North America',
       'Geospatial Data Scientist, Senior',
       'Senior Machine Learning Engineer', 'Geospatial Data Scientist 2',
       'Data Analytics Scientist', 'Lead Data Scientist (Remote)',
       'Data Scientist Associate (REMOTE)', 'Principal Data Scientist',
       'Data Scientist, Operations Decision Science',
       'Machine Learning Scientist 2',
       'Data Scientist, E-commerce Risk Control, TikTok-US-Tech Services',
       'Strategic Analytics Lead Data Scientist',
       'Machine Learning Engineer / Data Scientist',
       'Junior Data Scientist (US - East Coast)',
       'Senior Data Scientist (14469) - North America (Remote)',
       'Senior Data Scientist, Technical (Remote)',
       'Staff Data Scientist',
       'Data Scientist (Business Analytics)-Remote',
       'Data Science, Decision Scientist', 'Machine Learning Scientist',
       'Data Scientist, Enterprise Marketing',
       'Data Scientist - TikTok Account', 'Senior Data Scientist, Growth',
       'Sr. Machine Learning Engineer', 'Data Scientist 1'], dtype=object)

In [40]:
def simplify_job_title(job_title):
    if 'data science' in job_title.lower() or 'data scientist' in job_title.lower():
        return 'data science'
    elif 'machine learning' in job_title.lower():
        return 'ml'
    elif 'analyst' in job_title.lower():
        return 'analyst'
    elif 'data engineer' in job_title.lower():
        return 'data engineer'
    elif 'manager' in job_title.lower():
        return 'manager'
    elif 'director' in job_title.lower():
        return 'director'
    else:
        return 'na'

def seniority(job_title):
    for sen_sen in ['senior', 'sr', 'sr.']:
        if sen_sen in job_title.lower():
            return 'senior'
    for sen_jr in ['junior', 'jr', 'jr.']:
        if sen_jr in job_title.lower():
            return 'junior'
    return 'na'

In [47]:
df['simp_job_title'] = df.job_title.apply(lambda x: simplify_job_title(x))
df['seniority'] = df.job_title.apply(lambda x: seniority(x))
df['job_description'] = df.job_description.apply(lambda x: x.lower())
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [48]:
df.seniority.value_counts()

na        740
junior    159
senior    101
Name: seniority, dtype: int64

In [50]:
df.describe()

,min_salary,max_salary,python,spark,excel,aws,rating,avg_salary
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.0,1000.00000,1000.00000
mean,80249.206050,153461.98995,0.059000,0.004000,0.031000,0.0,4.05990,116855.59800
std,17446.062638,44134.95337,0.235743,0.063151,0.173404,0.0,0.55004,30257.31197
min,51000.000000,95000.00000,0.000000,0.000000,0.000000,0.0,-1.00000,74500.00000
25%,70000.000000,127000.00000,0.000000,0.000000,0.000000,0.0,4.00000,100500.00000
50%,80000.000000,131000.00000,0.000000,0.000000,0.000000,0.0,4.20000,103500.00000
75%,93000.000000,192000.00000,0.000000,0.000000,0.000000,0.0,4.20000,142500.00000
max,150000.000000,221000.00000,1.000000,1.000000,1.000000,0.0,5.00000,164000.00000