In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('test.csv')

In [9]:
len(df)

1000

In [11]:
df.loc[df.duplicated()]

,company_name,location,job_title,est_salary,job_description,rating,sector,industry,job_age
60,MARS,"Chicago, IL",Data Scientist,$80K - $127K (Glassdoor est.),"Data Scientist, Supply Chain Analytics\nLocati...",4.2,Manufacturing,Food & Beverage Manufacturing,1d
61,Spotify,"New York, NY","Machine Learning Engineer, Personalization",$80K - $127K (Glassdoor est.),Engineering\nMachine Learning\nThe Personaliza...,4.2,Information Technology,Internet & Web Services,1d
62,First Republic Bank,"San Francisco, CA",Data Scientist,$80K - $127K (Glassdoor est.),Description\n**Visa sponsorship not available ...,4.2,Financial Services,Banking & Lending,6d
63,Visa,"Highlands Ranch, CO",Data Scientist,$80K - $127K (Glassdoor est.),Company Description\n\nVisa is a world leader ...,4.0,Information Technology,Information Technology Support Services,3d
65,Allscripts,"Houston, TX",Jr Data Scientist - Remote,$80K - $127K (Glassdoor est.),Welcome to Allscripts! Our Mission is to be th...,3.9,Information Technology,Computer Hardware Development,8d
...,...,...,...,...,...,...,...,...,...
995,American Express Global Business Travel,"New York, NY","Data Scientist II, Analytics",$54K - $95K (Glassdoor est.),Why Join Egencia?\nConnections matter when it ...,4.2,Financial Services,Financial Transaction Processing,2d
996,The Coca-Cola Company,"Plano, TX",Data Scientist 2,$54K - $95K (Glassdoor est.),About Enterprise Data and Analytics:\nThe Data...,4.0,Manufacturing,Food & Beverage Manufacturing,24h
997,Atlassian,"San Francisco, CA",Machine Learning Scientist,$54K - $95K (Glassdoor est.),Working at Atlassian\n\nAtlassian can hire peo...,4.7,Information Technology,Computer Hardware Development,22d
998,First Republic Bank,"San Francisco, CA",Data Scientist,$54K - $95K (Glassdoor est.),Description\n**Visa sponsorship not available ...,4.2,Financial Services,Banking & Lending,6d
999,Spotify,"New York, NY","Machine Learning Engineer, Personalization",$54K - $95K (Glassdoor est.),Engineering\nMachine Learning\nThe Personaliza...,4.2,Information Technology,Internet & Web Services,1d